.linker {
  color: #929393;
  /* color: #545454; */
  font-weight: 400;
}
.linker:hover {
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
}

.navroot {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navLinks ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  /* align-items: center;
    justify-content: space-between; */
  list-style-type: none;
}
.navLinks ul li {
  cursor: pointer;
  font-size: 15px;
}
.navLogo {
  width: 200px;
}
img {
  width: 100%;
}

.hamburger {
  display: none;
}

.mobileLinks {
  display: none;
}

@media screen and (max-width: 1020px) {
  .navroot {
    padding: 5px;
  }
  .navLogo {
    width: 150px;
  }
  .navLinks {
    display: none;
  }
  .hamburger {
    display: block;
    z-index: 10;
    background-color: #545454;
    margin: 0;
    padding: 5px 10px 10px 10px;
    color: white;
    border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }

.mobileLinks {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: left;
    position: absolute;
    background-color: #545454;
    width: 50%;
    height: auto;
    padding: 20px;
    overflow-y: hidden;
    top: 60px;
    right: 0;
    color: white;

    list-style-type: none;
  }
  .linker {
    color: white;
    font-size: 15px;
    font-weight: 600;
  }
  .linker:active {
    color: white;
  }
}
